html {
    font-family: candara;
    background: rgb(226, 226, 226);
}
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header {
    background: rgba(255, 255, 255, 0.95);
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
header nav {
    float: left;
}
header nav ul {
    margin: 0;
    list-style: none;
    overflow: hidden;
}
header nav ul li {
    float: left;
    font-size: large;
}
header nav ul li a {
    display: block;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
header ul li a:hover {
    background: #0e3296cb;
    color: aliceblue;
}
header a img {
    width: auto;
    max-height: 2.5em;
    float: left;
    margin: 10px 0 10px 40px;
}
section {
    margin: 0 5%;
    background: rgb(248, 248, 248);
}
section article {
    padding: 20px;
    
}
#contacto {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: small;
}
#contacto div {
    flex: 200px;
    align-self: center;
}
#abogados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(248, 248, 248);
}
.abogado {
    margin: 15px;
    flex: 250px;
    text-align: center;
}
.abogado a{
    text-decoration: none;
}
h1,
h2 {
    color: #021b60;
    font-family: bookman-old-style;
    font-size: large;
}
.social-media {
    font-family: social-media-circle;
    display: inline;
    font-size: large;
}
@font-face {
    font-family: candara;
    src: url(fuentes/candara.ttf);
}
@font-face {
    font-family: bookman-old-style;
    src: url(fuentes/bookman-old-style.ttf);
}
@font-face {
    font-family: social-media-circle;
    src: url(fuentes/social-media-circled.otf);
}
@media screen and (max-width: 799px) {
    header nav {
        display: none;
    }
    #m-para-movil {
        margin-top: 10px;
        margin-right: 15px;
        float: right;
        display: block;
    }
    #pop-menu {
        margin-top: 0;
    }
    #pop-menu ul li {
        float: unset;
    }
    #pop-menu ul li a {
        padding: 12 px;
    }
    #b-menu {
        padding: 4px 4px 2px 4px;
        background: none;
        border: none;
    }
    #b-menu img {
        display: inline;
        height: 2em;
        width: auto;
    }
}
@media screen and (min-width: 800px) {
    #m-para-movil {
        display: none;
    }
}